*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.buckconfig
.buckconfig.local
buckw
.watchmanconfig
buckd.version
.buckd
.idea
.okbuck
BUCK
BlueSTSDK/build
buck-out
docs
